
<h1>ログイン画面</h1>

<form action="/login" method="POST">
  <label for="input_name">Neme： </label>
  <input id="input_name" type="text" name="name"><br>
  <label for="input_email">Email： </label>
  <input id="input_email" type="text" name="email"><br>
  <label for="input_pass">PASSWORD </label>
  <input id="input_pass" type="password" name="pass"><br>
  <input type="submit" value="送信">
</form>

