
<h1>新規投稿</h1>
<form action="/new" method="POST">
  <label for="input_name">投稿者の名前： </label>
  <input id="input_name" type="text" name="name"><br>
  <label for="input_title">投稿のタイトル </label>
  <input id="input_title" type="text" name="title"><br>
  <label for="input_content">内容 (制限： 250文字) </label>
  <input id="input_content" type="text" name="content">
  <input type="submit" value="送信">
</form>
