
* {
  color: rgb(67, 67, 67);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

#contents {
  width: 80%;
  margin: auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
  border-radius: 16px;
  padding: 20px;
}

.item_wrap {
  background-color: rgba(250, 210, 148, 0.633);
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
  font-size: 1.4rem;
}

.item_wrap:hover {
  background-color: rgba(255, 153, 0, 0.475);
}

.item_contet {
  background-color: rgb(250, 250, 250);
  border-radius: 6px;
  padding: 0 20px;
}

#contet_wrap {
  width: 80%;
  margin: auto;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.3rem;
}

#edit_link, #delete_link {
  color: red;
}

#comments_area {
  width: 80%;
  margin: auto;
  background-color: rgb(206, 223, 96);
  padding: 16px;
  border-radius: 10px;
}

#comment_form {
  padding: 10px;
  margin: 4px 0;
  border-bottom: 2px solid rgb(125, 125, 125);
  font-size: 1.3rem;
}

input[type=text], input[type=password] {
  background-color: white;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid black;
}

input[type=submit] {
  background-color: rgba(138, 138, 138, 0.733);
  padding: 0 5px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}

.comment_msg {
  padding-left: 20px;
  color: red;
}

#tags_area {
  width: 80%;
  margin: 20px auto;
  background-color: rgb(223, 176, 96);
  padding: 16px;
  border-radius: 10px;
}

#tag_form {
  padding: 10px;
  margin: 4px 0;
  border-bottom: 2px solid rgb(125, 125, 125);
  font-size: 1.3rem;
}
